In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

X_train = pd.read_csv('train_features.csv', index_col='id')
y_train = pd.read_csv('train_labels.csv', index_col='id')
X_test = pd.read_csv('test_features.csv', index_col='id')
    
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)

X_train['training_set'] = 1
X_test['training_set'] = 0

X_full = pd.concat([X_train, X_test])

X_full.head()

,member_id,loan_amnt,funded_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,disbursement_method,training_set
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
43373,NaN,12000,12000,36 months,16.02%,422.01,C,C5,Driver,4 years,MORTGAGE,81000.0,NaN,NaN,debt_consolidation,Debt consolidation,280xx,NC,12.76,0,Dec-2005,1,48.0,NaN,7,0,4912,23.5%,15,w,0,48.0,Individual,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1
24414,NaN,6300,6300,36 months,14.07%,215.54,C,C3,GMP Lead,4 years,RENT,39000.0,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.42,0,Mar-2012,1,NaN,NaN,10,0,11876,59.4%,12,w,0,NaN,Individual,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1
46723,NaN,4500,4500,36 months,7.21%,139.38,A,A3,Accounts,3 years,RENT,78000.0,NaN,NaN,debt_consolidation,Debt consolidation,906xx,CA,2.17,0,May-2000,2,NaN,NaN,13,0,1715,5.2%,19,w,0,NaN,Individual,NaN,NaN,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,NaN,1.0,NaN,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1
24878,NaN,12000,12000,36 months,9.44%,384.06,B,B1,Client Processing Associate,10+ years,MORTGAGE,62000.0,NaN,NaN,debt_consolidation,Debt consolidation,441xx,OH,13.76,0,Feb-2003,0,NaN,NaN,22,0,9404,16.3%,33,w,0,NaN,Individual,NaN,NaN,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,NaN,5.0,NaN,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1
39038,NaN,12000,12000,36 months,22.35%,460.47,D,D5,Construction Operator,10+ years,MORTGAGE,70000.0,NaN,NaN,debt_consolidation,Debt consolidation,751xx,TX,14.04,4,Nov-2001,2,13.0,NaN,18,0,17895,24.2%,45,w,0,13.0,Individual,NaN,NaN,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,62.0,3.0,62.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,1

In [7]:
y_train.head()

       charged_off
id
43373  0
24414  0
46723  0
24878  0
39038  0

In [9]:
X_full_num = X_full.select_dtypes(include=['number']).copy()
X_full_num.head()

,member_id,loan_amnt,funded_amnt,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,training_set
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
43373,NaN,12000,12000,422.01,81000.0,NaN,NaN,12.76,0,1,48.0,NaN,7,0,4912,15,0,48.0,NaN,NaN,0,0,174783,1,2,0,4,13.0,33668,82.0,2,5,2962,63.0,20900,1,1,2,9,24969.0,588.0,89.3,0,0,145.0,23,1,1,1,8.0,NaN,1.0,NaN,2,2,2,2,2,9,4,5,2,7,0.0,0,0,2,92.9,100.0,0,0,206618,38580,5500,40863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24414,NaN,6300,6300,215.54,39000.0,NaN,NaN,21.42,0,1,NaN,NaN,10,0,11876,12,0,NaN,NaN,NaN,0,0,31046,0,1,0,2,14.0,19170,83.0,3,8,5153,72.0,20000,1,0,1,10,3105.0,6877.0,59.3,0,0,17.0,72,8,8,0,8.0,NaN,6.0,NaN,0,6,7,7,8,2,9,10,7,10,0.0,0,0,3,100.0,42.9,0,0,43140,31046,16900,23140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
46723,NaN,4500,4500,139.38,78000.0,NaN,NaN,2.17,0,2,NaN,NaN,13,0,1715,19,0,NaN,NaN,NaN,0,0,35329,0,8,1,2,10.0,33614,106.0,1,1,1196,54.0,33300,4,0,3,3,2718.0,21585.0,7.4,0,0,166.0,218,10,10,0,31.0,NaN,1.0,NaN,0,3,3,3,4,13,5,6,3,13,0.0,0,0,2,100.0,0.0,0,0,65092,35329,23300,31792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
24878,NaN,12000,12000,384.06,62000.0,NaN,NaN,13.76,0,0,NaN,NaN,22,0,9404,33,0,NaN,NaN,NaN,0,0,75160,4,1,0,2,13.0,17123,67.0,6,9,6898,32.0,57600,3,1,2,12,3579.0,33602.0,17.0,0,0,162.0,179,1,1,1,1.0,NaN,5.0,NaN,0,1,3,9,13,7,20,25,3,22,0.0,0,0,7,100.0,0.0,0,0,133065,26527,40500,25465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
39038,NaN,12000,12000,460.47,70000.0,NaN,NaN,14.04,4,2,13.0,NaN,18,0,17895,45,0,13.0,NaN,NaN,0,7218,113702,9,2,2,4,6.0,16711,68.0,9,10,5373,35.0,73900,3,6,3,14,6317.0,32863.0,24.1,0,0,159.0,201,0,0,1,0.0,62.0,3.0,62.0,6,9,11,11,14,22,15,20,11,18,0.0,0,2,11,82.2,9.1,0,0,192842,34606,43300,24499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
X_full_num.tail()

,member_id,loan_amnt,funded_amnt,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,training_set
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
45702,NaN,4650,4650,141.61,83600.0,NaN,NaN,11.25,0,1,48.0,NaN,17,0,14174,24,0,71.0,NaN,NaN,0,0,42837,1,1,0,0,31.0,23406,73.0,3,9,6186,36.0,72500,0,0,2,9,2520.0,53526.0,20.9,0,0,205.0,59,5,5,2,5.0,NaN,5.0,NaN,1,6,6,12,12,5,15,17,6,17,0.0,0,0,3,87.5,0.0,0,0,120162,37580,67700,32204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
25727,NaN,7000,7000,224.01,52000.0,NaN,NaN,2.88,0,0,26.0,NaN,5,0,2272,10,0,NaN,NaN,NaN,0,1387,2272,1,0,0,0,123.0,0,NaN,2,2,1539,34.0,6700,0,0,1,2,454.0,1495.0,57.3,0,0,123.0,265,3,3,0,3.0,26.0,2.0,26.0,0,2,3,3,6,1,5,9,3,5,0.0,0,0,2,80.0,33.3,0,0,6700,2272,3500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
45966,NaN,28000,28000,636.80,67000.0,NaN,NaN,24.32,0,0,NaN,NaN,9,0,22705,21,0,NaN,NaN,NaN,0,0,34962,0,2,0,1,19.0,12257,44.0,0,0,9623,59.0,31600,0,0,0,1,3885.0,7756.0,72.9,0,0,129.0,208,44,19,0,44.0,NaN,NaN,NaN,0,6,7,6,8,9,7,12,7,9,0.0,0,0,0,100.0,50.0,0,0,59400,34962,28600,27800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
30441,NaN,30000,30000,650.78,35000.0,NaN,NaN,11.45,0,0,NaN,NaN,11,0,25887,23,0,NaN,NaN,NaN,0,0,25887,0,0,0,0,55.0,0,NaN,0,0,11958,28.0,93200,0,0,0,0,2876.0,60580.0,28.2,0,0,125.0,289,38,38,3,134.0,NaN,13.0,NaN,0,2,4,4,4,3,11,16,4,11,0.0,0,0,0,100.0,0.0,0,0,93200,25887,84400,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
30058,NaN,3000,3000,100.52,21000.0,NaN,NaN,5.07,0,0,NaN,NaN,5,0,1673,8,0,NaN,NaN,NaN,0,323,1673,0,0,0,0,35.0,0,NaN,4,5,269,15.0,11000,1,0,2,5,335.0,3231.0,7.7,0,0,35.0,127,9,9,0,9.0,NaN,1.0,NaN,0,1,3,3,3,1,5,7,3,5,0.0,0,0,4,100.0,0.0,0,0,11000,1673,3500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [11]:
X_full_num.dtypes

member_id                              float64
loan_amnt                              int64
funded_amnt                            int64
installment                            float64
annual_inc                             float64
url                                    float64
desc                                   float64
dti                                    float64
delinq_2yrs                            int64
inq_last_6mths                         int64
mths_since_last_delinq                 float64
mths_since_last_record                 float64
open_acc                               int64
pub_rec                                int64
revol_bal                              int64
total_acc                              int64
collections_12_mths_ex_med             int64
mths_since_last_major_derog            float64
annual_inc_joint                       float64
dti_joint                              float64
acc_now_delinq                         int64
tot_coll_amt                           int64
tot_cur_bal                            int64
open_acc_6m                            int64
open_act_il                            int64
open_il_12m                            int64
open_il_24m                            int64
mths_since_rcnt_il                     float64
total_bal_il                           int64
il_util                                float64
open_rv_12m                            int64
open_rv_24m                            int64
max_bal_bc                             int64
all_util                               float64
total_rev_hi_lim                       int64
inq_fi                                 int64
total_cu_tl                            int64
inq_last_12m                           int64
acc_open_past_24mths                   int64
avg_cur_bal                            float64
bc_open_to_buy                         float64
bc_util                                float64
chargeoff_within_12_mths               int64
delinq_amnt                            int64
mo_sin_old_il_acct                     float64
mo_sin_old_rev_tl_op                   int64
mo_sin_rcnt_rev_tl_op                  int64
mo_sin_rcnt_tl                         int64
mort_acc                               int64
mths_since_recent_bc                   float64
mths_since_recent_bc_dlq               float64
mths_since_recent_inq                  float64
mths_since_recent_revol_delinq         float64
num_accts_ever_120_pd                  int64
num_actv_bc_tl                         int64
num_actv_rev_tl                        int64
num_bc_sats                            int64
num_bc_tl                              int64
num_il_tl                              int64
num_op_rev_tl                          int64
num_rev_accts                          int64
num_rev_tl_bal_gt_0                    int64
num_sats                               int64
num_tl_120dpd_2m                       float64
num_tl_30dpd                           int64
num_tl_90g_dpd_24m                     int64
num_tl_op_past_12m                     int64
pct_tl_nvr_dlq                         float64
percent_bc_gt_75                       float64
pub_rec_bankruptcies                   int64
tax_liens                              int64
tot_hi_cred_lim                        int64
total_bal_ex_mort                      int64
total_bc_limit                         int64
total_il_high_credit_limit             int64
revol_bal_joint                        float64
sec_app_inq_last_6mths                 float64
sec_app_mort_acc                       float64
sec_app_open_acc                       float64
sec_app_revol_util                     float64
sec_app_open_act_il                    float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
training_set                           int64
dtype: object

In [12]:
X_full_num = X_full_num.dropna(axis=1)
X_full_num.isna().sum()

loan_amnt                     0
funded_amnt                   0
installment                   0
annual_inc                    0
delinq_2yrs                   0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
collections_12_mths_ex_med    0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
open_acc_6m                   0
open_act_il                   0
open_il_12m                   0
open_il_24m                   0
total_bal_il                  0
open_rv_12m                   0
open_rv_24m                   0
max_bal_bc                    0
total_rev_hi_lim              0
inq_fi                        0
total_cu_tl                   0
inq_last_12m                  0
acc_open_past_24mths          0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
training_set                  0
dtype: int64

In [15]:
X_train = X_full_num[X_full_num['training_set'] == 1]
X_train = X_train.drop('training_set', axis=1)

X_test = X_full_num[X_full_num['training_set'] == 0]
X_test = X_test.drop('training_set', axis=1)

In [16]:
X_train.head()

       loan_amnt  funded_amnt  installment  annual_inc  delinq_2yrs  inq_last_6mths  open_acc  pub_rec  revol_bal  total_acc  collections_12_mths_ex_med  acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  open_il_12m  open_il_24m  total_bal_il  open_rv_12m  open_rv_24m  max_bal_bc  total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
id
43373  12000      12000        422.01       81000.0     0            1               7         0        4912       15         0                           0               0             174783       1            2            0            4            33668         2            5            2962        20900             1       1            2             9                     0                         0            23                    1                      1               1         2                      2               2                2            2          9          4              5              2                    7         0             0                   2                   0                     0          206618           38580              5500            40863
24414  6300       6300         215.54       39000.0     0            1               10        0        11876      12         0                           0               0             31046        0            1            0            2            19170         3            8            5153        20000             1       0            1             10                    0                         0            72                    8                      8               0         0                      6               7                7            8          2          9              10             7                    10        0             0                   3                   0                     0          43140            31046              16900           23140
46723  4500       4500         139.38       78000.0     0            2               13        0        1715       19         0                           0               0             35329        0            8            1            2            33614         1            1            1196        33300             4       0            3             3                     0                         0            218                   10                     10              0         0                      3               3                3            4          13         5              6              3                    13        0             0                   2                   0                     0          65092            35329              23300           31792
24878  12000      12000        384.06       62000.0     0            0               22        0        9404       33         0                           0               0             75160        4            1            0            2            17123         6            9            6898        57600             3       1            2             12                    0                         0            179                   1                      1               1         0                      1               3                9            13         7          20             25             3                    22        0             0                   7                   0                     0          133065           26527              40500           25465
39038  12000      12000        460.47       70000.0     4            2               18        0        17895      45         0                           0               7218          113702       9            2            2            4            16711         9            10           5373        73900             3       6            3             14                    0                         0            201                   0                      0               1         6                      9               11               11           14         22         15             20             11                   18        0             2                   11                  0                     0          192842           34606              43300           24499

In [17]:
X_test.head()

       loan_amnt  funded_amnt  installment  annual_inc  delinq_2yrs  inq_last_6mths  open_acc  pub_rec  revol_bal  total_acc  collections_12_mths_ex_med  acc_now_delinq  tot_coll_amt  tot_cur_bal  open_acc_6m  open_act_il  open_il_12m  open_il_24m  total_bal_il  open_rv_12m  open_rv_24m  max_bal_bc  total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  acc_open_past_24mths  chargeoff_within_12_mths  delinq_amnt  mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  num_accts_ever_120_pd  num_actv_bc_tl  num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
id
57146  18500      18500        551.93       87000.0     0            3               20        1        5504       37         0                           0               200           212122       2            5            4            6            105151        2            3            2991        32500             6       3            12            10                    0                         0            55                    7                      1               2         0                      4               5                8            9          20         14             15             5                    20        0             0                   6                   1                     0          250214           110655             22100           113624
20988  36000      36000        811.95       165000.0    0            0               12        0        21833      21         0                           0               0             42059        2            2            1            2            20226         1            3            5880        51200             1       0            1             5                     0                         0            131                   4                      4               0         0                      3               7                6            6          6          10             14             7                    12        0             0                   2                   0                     0          87584            42059              33000           36384
10031  12000      12000        463.90       110000.0    1            0               4         0        19930      11         0                           0               0             170912       0            1            1            1            25739         0            0            10385       20500             0       0            0             1                     0                         0            162                   42                     8               2         0                      2               2                2            3          4          2              5              2                    4         0             0                   1                   0                     0          210150           45669              20500           30000
33892  24875      24875        553.08       105000.0    0            1               7         0        29537      24         0                           0               0             507349       0            0            0            1            0             0            1            12097       62400             1       1            2             3                     0                         0            268                   22                     15              3         0                      4               4                5            7          9          6              12             4                    7         0             0                   0                   0                     0          547400           29537              57400           0
35374  4000       4000         130.79       20000.0     0            0               16        0        5863       28         0                           0               0             169662       1            2            1            2            43585         0            4            1013        31200             10      2            5             7                     0                         0            53                    19                     2               2         0                      6               10               6            7          12         13             14             10                   16        0             0                   2                   0                     0          209852           49448              7300            58652

In [18]:
X_train.shape, X_test.shape

((37745, 52), (9437, 52))

In [20]:
y_train.head()

       charged_off
id
43373  0
24414  0
46723  0
24878  0
39038  0

In [19]:
y_train.shape

(37745, 1)

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

tree = DecisionTreeClassifier(criterion='gini',
                             max_depth=4, random_state=1)

tree.fit(X_train, y_train)

preds = tree.predict(X_test)

lending_club_sub = pd.DataFrame({'id': X_test.index, 'charged_off': preds})

lending_club_sub.to_csv('submission_1.csv', index=False)